<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.healthypath.food.FoodDao">

  <!-- 식품명으로 검색 -->
  <select id="searchFoodByName" parameterType="map" resultType="com.springboot.healthypath.food.FoodVO">
    SELECT * FROM foods
    WHERE food_name LIKE CONCAT('%', #{food_name}, '%')
    <if test="page_size != null and offset != null">
        LIMIT #{page_size} OFFSET #{offset}
    </if>
  </select>

  <!-- 영양성분으로 검색 -->
  <select id="searchFoodByNutrient" parameterType="map" resultType="com.springboot.healthypath.food.FoodVO">
    SELECT * FROM foods
    ORDER BY ${nutrient_column} DESC
    LIMIT #{page_size} OFFSET #{offset}
  </select>

  <!-- 전체 레코드 수 카운트 -->
  <select id="countTotalRecords" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM foods
    <where>
      <if test="food_name != null">
        food_name LIKE CONCAT('%', #{food_name}, '%')
      </if>
    </where>
  </select>

  <!-- 상세 영양성분 보기 -->
  <select id="getFood" parameterType="com.springboot.healthypath.food.FoodVO" resultType="com.springboot.healthypath.food.FoodVO">
    SELECT * FROM foods WHERE idx = #{idx}
  </select>

  <!-- 메뉴 3개 추천 -->
  <select id="getFoodsByCategoryAndCalories" parameterType="com.springboot.healthypath.food.FoodRecommendVO" resultType="com.springboot.healthypath.food.FoodRecommendVO">
    SELECT idx, major_category_name, food_name, energy_kcal 
    FROM foods
    WHERE major_category_name = #{category} 
    AND energy_kcal &lt;= #{calories}
    ORDER BY RAND() 
    LIMIT 3
  </select>

  <!-- 추천 메뉴 저장 -->
  <insert id="insertFoodRecommendation" parameterType="com.springboot.healthypath.food.FoodRecommendVO">
    INSERT INTO food_recommendations (idx, user_id, food_name, major_category_name, energy_kcal)
    VALUES (#{idx}, #{user_id}, #{food_name}, #{major_category_name}, #{energy_kcal})
  </insert>

  <!-- 저장된 추천 메뉴 보기 -->
  <select id="getFoodRecommendations" parameterType="com.springboot.healthypath.user.UserVO" resultType="com.springboot.healthypath.food.FoodRecommendVO">
    SELECT * FROM food_recommendations WHERE user_id = (SELECT user_id FROM users WHERE email = #{email})
  </select>

  <delete id="deleteFoodRecommendation" parameterType="com.springboot.healthypath.food.FoodRecommendVO">
    DELETE FROM food_recommendations WHERE recommendation_id = #{recommendation_id}
  </delete>

  <!-- 먹은 식단 보기 -->
  <select id="getDailyMeals" parameterType="com.springboot.healthypath.user.UserVO" resultType="com.springboot.healthypath.food.DailyMealVO">
    SELECT 
      dm.meal_id, dm.user_id, f.idx, dm.date, dm.meal_time,
      f.food_name, f.major_category_name, f.nutrient_reference_amount, f.energy_kcal,
      f.protein_g, f.fat_g, f.carbohydrate_g, 
      dm.created_at, dm.updated_at
    FROM daily_meals dm JOIN foods f
    ON dm.idx = f.idx
    WHERE dm.user_id = #{user_id}
    ORDER BY FIELD(meal_time, '아침', '점심', '저녁', '간식'), date;
  </select>

  <!-- 식단 저장 -->
  <insert id="insertDailyMeal" parameterType="com.springboot.healthypath.food.DailyMealVO">
    INSERT INTO daily_meals 
      (user_id, idx, date, meal_time, food_name, major_category_name, nutrient_reference_amount, energy_kcal)
    VALUES (#{user_id}, #{idx}, #{date}, #{meal_time}, #{food_name}, #{major_category_name}, #{nutrient_reference_amount}, #{energy_kcal})
  </insert>
  
  
  <!-- ///// 레시피 ///// -->
  <!-- 레시피 조회 -->
  <select id="getRecipes" parameterType="com.springboot.healthypath.food.RecipeVO" resultType="com.springboot.healthypath.food.RecipeVO">
    SELECT *
    FROM recipes
    <where>
      <if test="search_category != null and !search_category.isEmpty()">
        AND ckg_knd_acto_nm = #{search_category}
      </if>
      <if test="included_foods != null and !included_foods.isEmpty()">
        AND ckg_mtrl_cn LIKE CONCAT('%', #{included_foods}, '%')
      </if>
      <if test="excluded_foods != null and !excluded_foods.isEmpty()">
        AND ckg_mtrl_cn NOT LIKE CONCAT('%', #{excluded_foods}, '%')
      </if>
    </where>
    ORDER BY srap_cnt DESC
    LIMIT #{limit} OFFSET #{offset}
  </select>

  <!-- 레시피 총 개수 조회 -->
  <select id="getTotalCount" parameterType="com.springboot.healthypath.food.RecipeVO" resultType="int">
    SELECT COUNT(*)
    FROM recipes
    <where>
      <if test="search_category != null and !search_category.isEmpty()">
        AND ckg_knd_acto_nm = #{search_category}
      </if>
      <if test="included_foods != null and !included_foods.isEmpty()">
        AND ckg_mtrl_cn LIKE CONCAT('%', #{included_foods}, '%')
      </if>
      <if test="excluded_foods != null and !excluded_foods.isEmpty()">
        AND ckg_mtrl_cn NOT LIKE CONCAT('%', #{excluded_foods}, '%')
      </if>
    </where>
  </select>

  <!-- 상세 레시피 보기 -->
  <select id="getRecipe" parameterType="com.springboot.healthypath.food.RecipeVO" resultType="com.springboot.healthypath.food.RecipeVO">
    SELECT * FROM recipes WHERE rcp_sno = #{rcp_sno}
  </select>

  <!-- 조회수 증가 -->
  <update id="incrementViewCount" parameterType="com.springboot.healthypath.food.RecipeVO">
    UPDATE recipes SET inq_cnt = inq_cnt + 1 WHERE rcp_sno = #{rcp_sno}
  </update>

</mapper>

