<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.healthypath.dao.UserDao">

  <select id="getAllUsers"
    parameterType="com.springboot.healthypath.model.UserVO"
    resultType="com.springboot.healthypath.model.UserVO">
      SELECT * FROM users ORDER BY user_id DESC
  </select>

  <select id="getUser"
    parameterType="com.springboot.healthypath.model.UserVO"
    resultType="com.springboot.healthypath.model.UserVO">
      SELECT * FROM users WHERE email = #{email}
  </select>

  <insert id="insertUserEmailAndName" parameterType="com.springboot.healthypath.model.UserVO">
		INSERT INTO users (email, name)	VALUES (#{email}, #{name})
	</insert>

  <!-- 프로시저 -->
  <update id="updateUser" parameterType="com.springboot.healthypath.model.UserVO">
      CALL update_user_info(
        #{email},
        #{name},
        #{age},
        #{gender},
        #{weight},
        #{height},
        #{bmi},
        #{classification},
        #{bmr},
        #{tdee},
        #{activity_level},
        #{recommended_carbs},
        #{recommended_protein},
        #{recommended_fats},
        #{goal},
        #{dietary_goal},
        #{excluded_foods}
      )
  </update>

  <select id="getBmiRecords"
    parameterType="com.springboot.healthypath.model.UserVO"
    resultType="com.springboot.healthypath.model.BmiRecordVO">
      SELECT * FROM bmi_records WHERE user_id = #{user_id}
  </select>

  <!-- 프로시저 -->
  <insert id="insertBmiRecord" parameterType="com.springboot.healthypath.model.BmiRecordVO">
      CALL insert_bmi_record(#{user_id}, #{weight})
  </insert>

</mapper>