<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.healthypath.user.UserDao">

  <select id="getAllUsers"
    parameterType="com.springboot.healthypath.user.UserVO"
    resultType="com.springboot.healthypath.user.UserVO">
      SELECT * FROM users ORDER BY user_id DESC
  </select>

  <select id="getUser"
    parameterType="com.springboot.healthypath.user.UserVO"
    resultType="com.springboot.healthypath.user.UserVO">
      SELECT * FROM users WHERE email = #{email}
  </select>

  <insert id="insertUserEmailAndName" parameterType="com.springboot.healthypath.user.UserVO">
		INSERT INTO users (email, name)	VALUES (#{email}, #{name})
	</insert>

  <update id="updateUser" parameterType="com.springboot.healthypath.user.UserVO">
    UPDATE users 
      SET 
        name = #{name},
        age = #{age},
        gender = #{gender},
        weight = #{weight},
        height = #{height},
        bmi = #{bmi},
        classification = #{classification},
        bmr = #{bmr},
        tdee = #{tdee},
        activity_level = #{activity_level},
        recommended_carbs = #{recommended_carbs},
        recommended_protein = #{recommended_protein},
        recommended_fats = #{recommended_fats},
        goal = #{goal},
        dietary_goal = #{dietary_goal},
        excluded_foods = #{excluded_foods},
        updated_at = CURRENT_TIMESTAMP
      WHERE email = #{email}
	</update>

  <select id="getBmiRecords"
    parameterType="com.springboot.healthypath.user.UserVO"
    resultType="com.springboot.healthypath.user.BmiRecordVO">
      SELECT * FROM bmi_records WHERE user_id = #{user_id}
  </select>

  <insert id="insertBmiRecord" parameterType="com.springboot.healthypath.user.BmiRecordVO">
		INSERT INTO bmi_records (user_id, weight, bmi, classification, bmr)	
      VALUES (#{user_id}, #{weight}, #{bmi}, #{classification}, #{bmr})
	</insert>

</mapper>