<div th:fragment="footer">
  <br>
  <footer style="background-color: #f8f9fa; padding: 20px; border-top: 1px solid #ddd; text-align: center;">
    <p style="margin: 0; font-size: 14px; color: #666;">&copy; 2024 HealthyPath. All Rights Reserved.</p>
    <div style="margin-top: 10px;">
      <a href="https://github.com/minju0809/HealthyPath.git" target="_blank" style="margin: 0 10px; color: #3b5998; text-decoration: none;">Github</a>
      <a href="https://spiral-beech-c1c.notion.site/HealthyPath-15188022e21c806ea028c831dd9d3af5?pvs=73" target="_blank" style="margin: 0 10px; color: #3b5998; text-decoration: none;">Notion</a>
      <a href="https://blog.naver.com/loverminju88" target="_blank" style="margin: 0 10px; color: #3b5998; text-decoration: none;">Blog</a>
      <a href="https://dev-tip.tistory.com/" target="_blank" style="margin: 0 10px; color: #3b5998; text-decoration: none;">Tistory</a>
    </div>
  </footer>
</div>
