/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3 {
  margin: 20px 0;
  text-align: center;
  color: #444;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  margin: 4px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

/* 테이블 기본 스타일 */
table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 12px auto;
}

table:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

table th {
  background-color: #f8f9fa;
  color: #333;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* 마지막 행 아래쪽의 보더 제거 */
table tr:last-child td {
  border-bottom: none;
}

td button {
  width: 100%;
}

/* 폼 스타일 */
form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
  max-width: 600px;
  margin: 4px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

form input[type="number"],
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

form button:hover {
  background-color: #218838;
}

/* 추천 메뉴 스타일 */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  max-width: 600px;
  padding: 0 12px;
  margin: 4px auto;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

ul li span {
  font-size: 14px;
  color: #666;
}

.content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommendation-form {
  display: inline;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 120px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 4px;
}

.recommendation-form button {
  margin: 0;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  ul li button {
    margin-top: 10px;
  }
}