<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>

<body>
    <div>
        <div th:if="${session.user == null}">
            <a href="/signup" class="btn">회원가입/로그인</a>
        </div>
        <div th:if="${session.user != null}">
            <h2 th:text="'환영합니다, ' + ${session.user.name} + '님!'"></h2>
            <a href="/getUser" class="btn">마이페이지</a>
            <a href="/logout" class="btn">로그아웃</a>
        </div>
    </div>
    <h1>Users List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
                <th>분류</th>
                <th>BMR</th>
                <th>GOAL</th>
                <th>EXCLUDED_FOODS</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.user_id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.height}"></td>
                <td th:text="${user.weight}"></td>
                <td th:text="${user.bmi}"></td>
                <td th:text="${user.classification}"></td>
                <td th:text="${user.bmr}"></td>
                <td th:text="${user.goal}"></td>
                <td th:text="${user.excluded_foods}"></td>
                <td th:text="${user.created_at}"></td>
                <td th:text="${user.updated_at}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>