<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>
    
    <h1>Users List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>이메일</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>키</th>
                <th>몸무게</th>
                <th>BMI</th>
                <th>분류</th>
                <th>BMR</th>
                <th>목표</th>
                <th>제외재료</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.user_id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.height}"></td>
                <td th:text="${user.weight}"></td>
                <td th:text="${user.bmi}"></td>
                <td th:text="${user.classification}"></td>
                <td th:text="${user.bmr}"></td>
                <td th:text="${user.goal}"></td>
                <td th:text="${user.excluded_foods}"></td>
            </tr>
        </tbody>
    </table>

    <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>